C:/Users/PC/Documents/GitHub/damage_car_classification/DEPLOY_MODEL1/model1.h5 filter=lfs diff=lfs merge=lfs -text
C:/Users/PC/Documents/GitHub/damage_car_classification/DEPLOY_MODEL1/model2.h5 filter=lfs diff=lfs merge=lfs -text
